.result-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #333;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #fff;
}

.result-container h2 {
    color: #f0e9e9;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.result-container p {
    margin-bottom: 15px;
}

.result-container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.btn-back,
.btn-back:hover,
.btn-back:active,
.btn-back:visited {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}
